/* sistemare la profondità delle i nello pseudo nav */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

/* serve a non far sovrapporre pseudo nav e nav (cercare potenziale alternativa) */
.blocking-block{
    width: 100%;
    height: 60px;
}


/* lists&links reset */
ul{
    list-style: none;
}
li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    font-size: 13px;   
    margin-left: 10px;
    color: black;
}


a i{
    margin-left: 10px;
}
/* FINE lists&links reset */


/* colori del gradient: #01a6bb  #00baa8 */


/* REUSABLE CLASSES */
.left-col
/* vertical bar */
.vertical-bar{
    border-left: 1px solid black ;
    height: 12px;
    margin: 0 15px;
}


/* clear fix class */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* bottoni arancioni */
.orange-btn{
    border-radius: 5px;
    background-color: #fe775a;
    font-size: 12px;
    padding: 10px 15px; 
    color: white;
}
.orange-btn:hover{
    background-color: rgba(254, 119, 90, .6);
}

/* width&margin */
.centering-block{
    width: 85%;
    margin: auto;

    /* test */
    /* background-color: rgb(141, 141, 245); */
}

.clearfixed-block{
    float: left;
    
    /* test */
    width: 50%;
    /* background-color: brown; */
}

/* to make the content stick to the right */
.right-col{
    text-align: right;
}

.white-box{                   
    background-color: white;                                      /* WHITE BOX */
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(189, 189, 189);                                
}

/* fine REUSABLE CLASSES */




/* ---- HEADER STYLING ----*/

/* FIXED-NAV styling */
header .left-col div{
    display: inline-block;
}
header .left-col div span{
    font-size: 12px;
}
header .left-col a{
    color: black;
}
header .left-col a:hover{
    color: #fe775a;
}
.fixed-nav{
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    padding: 20px 0;
    position: fixed;
    width: 100%; /* altrimenti con position fixed perde la width */
    top: 0;
    z-index: 100;
}
.fa-search{
    color: #009eb9;
}
.fa-search:hover{
    color: #fe775a;
}

header .right-col .orange-btn{
    margin-left: 20px;
}
.white-btn{
    background-color: white;
    border: 1px solid #fe775a;
    color: #fe775a;
}
.white-btn:hover{
    background-color: #fe775a;
    color: white;
} 



/* NAV STYLING */
nav{
    padding: 20px 0;
}

nav .logo{
    width: 10%;
}
nav .list-container{
    width: 90%;
    line-height: 30px;
}

.logo{
    background-image: url("../img/logo.svg");
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav i:hover, #pricing:hover{
    color: #fe775a;
}


/* BANNER STYLING */
.banner{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #fff4ef;
    background-image: url("../img/jumbotron.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 100%;
    min-width: 1300px; /* per evitare che il bordo grafico si disallinei dall'immagine */
}
.graphic-block{
    position: absolute;
    background-color: #afebe4;
    bottom: 0;
    width: 100%;
    height: 72px;
    border-top: 2px solid #00012a;
    border-bottom: 2px solid #00012a;
}

.text-block{
    width: 35%;
    padding-top: 60px;
}

.text-block h1{
    font-size: 35px;
}
.text-block p{
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
}
.text-block .orange-btn{
    margin: 0;
    padding: 15px 20px;
    cursor: pointer;

}
.text-block p {
    padding: 25px 0;
}
.text-block .mini-p{
    font-size: 10px;
    margin-top: 15px;
}



/* ---- MAIN STYLING ----- */
main{
    background-color: #f4f9fd;
}
/* MACROSEZIONE sezione 1 */

/*  sezione 1 */
/* .sect1{
    width: 100%;
} */
.cube-img{
    height: 180px;
    margin-top: 50px;
}
.sect1 .centering-block{
    width: 70%;
    text-align: center;
}
.centered-p{
    padding: 30px 110px;
}


/* sezione 2 */
/* left-column */
.sect2{
    margin-top: 20px;
    margin-bottom: 50px;
}
/* left-block */
.learn-more{
    width: 35%;
    text-align: center;
    padding: 70px 30px 40px 0;
}
.main-imgs{                             /* imgs SVG nel main */
    height: 110px; 
}
.learn-more a{
    margin: 0;
}
.btn-block{
    padding: 25px 0;
}

/* right-column */
.adv-stuff{
    width: 65%;
    padding: 70px 80px 60px 0;
}
.adv-stuff h2{
    font-size: 23px;
}
.adv-stuff p{
    margin: 15px 0;
    font-size: 14px;
    font-weight: 500;
}
.adv-stuff h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    width: 30%;
}
.adv-stuff li{
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}
.adv-stuff i{
    color: #fe775a;
    margin-right: 10px;
}
/* horizontal line */
.horizontal-inline-line{
    vertical-align: middle;
    border-top: 2px solid #33475b;
    width: 60%;
    margin-left: 5%;
    display: inline-block;
}


/*  sezione 3*/
.sect3{
    margin-bottom: 40px;
}
.tribox{
    width: 30%;
}
.middle-tribox{
    margin: 0 5%;
}

/* UPPERDIV STYLING */
.upper-div{
    height: 350px; /* assegnato un'altezza fissa solo al div superiore in modo da tenere allineate le linee orizzontali */
    text-align: center;
    padding: 25px 25px 0 25px;
}
.upper-div h3{
    font-size: 22px;
    margin: 15px 0 30px 0;
}
.upper-div p{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}
/* simil-hr */
.simil-hr{
    width: 85%;
    margin: 0px auto 30px auto;
    border-top: 2px solid black;
}

/* LOWERDIV STYLING */
.lower-div h3{
    font-size: 17px;
    text-align: center;
}

.lower-div ul{
    padding: 30px 50px;
}
.lower-div li{
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.lower-div li i{
    color: #fe775a;
    margin-right: 5px;
}
.lower-div .btn-block{
    text-align: center;
}
.lower-div .orange-btn{
    padding: 15px 30px;
    font-weight: 600;
    margin: 0;
}

/* MACROSEZIONE 2 */
.macrosection-two{
    background-image: linear-gradient(to right, #00a8ba, #37c8b9);
    background-position: center;
    background-size: contain;
    width: 100%;
    /* test TESTO */
    color: white;
}
/* gradient section 1 */
.gradient-sect1 .text-container{
    text-align: center;
}
.gradient-sect1 .text-container h2{
    padding-top: 40px;
    font-size: 30px;
}
.gradient-sect1 .text-container p{
    margin: 25px 0;
    font-size: 14px;
}


/* gradient section 2 */
.gradient-sect2{
    padding-bottom: 60px;
}

.grid-cell{
    text-align: center;
    width: 25%;
    float: left;
    padding: 30px;
    border-right: 1px solid rgb(255, 255, 255);
}

#n0m3, #n1m3{ /* riga 0 colonna 3    &   riga 1 colonna 3 */
    border-right: none;
}
.first-row{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.grid-cell img{
    height: 30px;
}
.grid-cell h3{
    font-size: 30px;
    padding: 10px;
}
.grid-cell p{
    font-size: 12px;
    font-weight: 500;
}


/* MACROSEZIONE 3 */
.macrosection-three{
    padding: 40px 0;
    /* test */
    background-color: rgb(255, 255, 255);
}

.spec-cen-b{
    width: 80%;
}

/* colonna sinistra */
.col-sx{
    width: 35%;
}
.col-sx h2{
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 30px;
}
.col-sx p{
    padding-left: 40px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
}
.col-sx .strong-number{
    font-weight: 900;
}


/* colonna destra */                             /*style GRIGLIA di loghi aziende */
.col-dx{
    width: 60%;
}

.logos-row img{
    width: 80%;
}
.logos-row li{
    /* 25% le mandava a capo */
    width: 24%;
}
/* padd 9 PX #atlassian #doordash #vmware*/
.padd9{
    padding-bottom: 10px;
}
#wistia{
    padding-bottom: 13px;
}


/* lower block ultima sezione del MAIN */
.lower-block{
    padding-top: 50px;
}
/* sx column styling  */
.sx{
    width: 45%;
}
.sx h2{
    padding: 30px 0;
    font-size: 25px;
}
.sx p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.sx .btn-block{
    margin: 20px 0;
}
.sx .orange-btn{
    margin: 0;
    padding: 15px 20px;
}
.sx p:last-child{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* dx column styling woman img */
.dx{
    width: 55%;
}
.woman-block{
    text-align: right;
}
#woman-img{
    height: 350px;
}


/* ---- FOOTER ----- */

footer {
    padding-top: 30px;
    background-color: #32495b;
    color: white;
}

footer .clearfixed-block{
    width: 25%;
}
footer .clearfixed-block .foo-li{
    display: block;
    padding-top: 13px;
    font-size: 12px;
    font-weight: 500;
}
footer .clearfixed-block h4{
    padding-bottom: 10px;
    font-size: 13px;
}

footer .clearfixed-block .btn-block{
    padding: 25px 0 15px 0;
}
#support-btn{
    background-color: white;
    margin: 0;
    padding: 10px 7px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
}
#support-btn:hover{
    border: 1px solid white;
    background-color: #32495b;
    color: white;
}   

.icon-li {
    padding: 10px 10px 10px 0;
}
.icon-li:hover{
    cursor: pointer;
    color: #fe775a;
}

/* middle footer block */
.middle-footer-block{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.middle-footer-block li{
    padding-right: 15px;
}

/* LOWER FOOTER block */
footer .lower-footer-block .clearfixed-block{
    width: 50%;
    
}

.footer-logo-block{
    color: white;
}

.policy-list-block{
    text-align: right;
    color: white;
    font-size: 12px;
}
.legal-list li{
    margin-left: 15px;
}

.lower-footer-block{
    padding-bottom: 40px;
}