/* sistemare la profondità delle i nello pseudo nav */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

/* serve a non far sovrapporre pseudo nav e nav (cercare potenziale alternativa) */
.blocking-block{
    width: 100%;
    height: 60px;
}


/* lists&links reset */
ul{
    list-style: none;
}
li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    font-size: 13px;   
    margin-left: 10px;
    color: black;
}


a i{
    margin-left: 10px;
}
/* FINE lists&links reset */


/* colori del gradient: #01a6bb  #00baa8 */


/* REUSABLE CLASSES */

/* vertical bar */
.vertical-bar{
    border-left: 1px solid black ;
    height: 12px;
    margin: 0 15px;
}


/* clear fix class */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* bottoni arancioni */
.orange-btn{
    border-radius: 5px;
    background-color: #fe775a;
    font-size: 12px;
    padding: 10px 15px; 
    color: white;
}
.orange-btn:hover{
    background-color: rgba(254, 119, 90, .6);
}

/* width&margin */
.centering-block{
    width: 85%;
    margin: auto;

    /* test */
    /* background-color: rgb(141, 141, 245); */
}

.clearfixed-block{
    float: left;
    
    /* test */
    width: 50%;
    /* background-color: brown; */
}

/* to make the content stick to the right */
.right-col{
    text-align: right;
}
/* fine REUSABLE CLASSES */




/* ---- HEADER STYLING ----*/

/* FIXED-NAV styling */
header .left-col div{
    display: inline-block;
}
header .left-col div span{
    font-size: 12px;
}
header .left-col a{
    color: black;
}
header .left-col a:hover{
    color: #fe775a;
}
.fixed-nav{
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    padding: 20px 0;
    position: fixed;
    width: 100%; /* altrimenti con position fixed perde la width */
    top: 0;
    /* test */
    /* background-color: cadetblue; */
}
.fa-search{
    color: #009eb9;
}
.fa-search:hover{
    color: #fe775a;
}

header .right-col .orange-btn{
    margin-left: 20px;
}
.white-btn{
    background-color: white;
    border: 1px solid #fe775a;
    color: #fe775a;
}
.white-btn:hover{
    background-color: #fe775a;
    color: white;
} 



/* NAV STYLING */
nav{
    padding: 20px 0;
}

nav .logo{
    width: 10%;
}
nav .list-container{
    width: 90%;
    line-height: 30px;
}

.logo{
    background-image: url("../img/logo.svg");
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav i:hover, #pricing:hover{
    color: #fe775a;
}


/* BANNER STYLING */
.banner{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #fff4ef;
    background-image: url("../img/jumbotron.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 100%;
    min-width: 1226px; /* per evitare che il bordo grafico si disallinei dall'immagine */
}
.graphic-block{
    position: absolute;
    background-color: #afebe4;
    bottom: 0;
    width: 100%;
    height: 72px;
    border-top: 2px solid #00012a;
    border-bottom: 2px solid #00012a;
}

.text-block{
    width: 35%;
    padding-top: 60px;
}

.text-block h1{
    font-size: 35px;
}
.text-block p{
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
}
.text-block .orange-btn{
    margin: 0;
    padding: 15px 20px;
    cursor: pointer;

}
.text-block p {
    padding: 25px 0;
}
.text-block .mini-p{
    font-size: 10px;
    margin-top: 15px;
}
















